<button type="button" class="btn btn-primary" [routerLink]="['/bookform']">Add A New Book</button >
<br>
<p *ngIf = "!(books$ | async)">Loading...</p>
<mat-accordion>
  <mat-expansion-panel *ngFor = "let book of books$ | async">
    <mat-expansion-panel-header>
        <mat-panel-title>
           {{book.title}}
        </mat-panel-title>
    </mat-expansion-panel-header>
         by {{book.author}}
         <br>
         <button class="btn btn-space" mat-raised-button color="primary" (click)="deleteBook(book.id)">Delete Book</button>
         <button class="btn btn-space" mat-raised-button color="primary" [routerLink]="'/bookform/' + book.id">Edit Book</button>
  </mat-expansion-panel>
</mat-accordion>