<h4>Add Book</h4>
<div class="container mt-3">
<form #addBook="ngForm"(ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" [(ngModel)]="title" name="title"> 
    </div>

    <div class="form-group">
        <label>Author</label>
        <input class="form-control" [(ngModel)]="author" name="author"> 
    </div>
        <button mat-raised-button color="primary" [disabled]>{{buttonText}}</button>
    </form>
</div>
