<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p *ngIf="!hasError">
          current temperature in {{city}} is {{temperature |number:'1.0-0'}}º 
        </p>
        <p *ngIf="hasError">{{errorMessage}}</p>
        <a href="tempform">
          Update Temperature
        </a>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="addLike()">LIKE</button><span *ngIf="like!=0">{{like}}</span>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>